/*v2*/


@import "resetlv.scss";

@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Cinzel:400,700|VT323);


html{
	text-align: center;
	font-size: 62.5%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.4;
	}


.wrapper{
	text-align: center;
	margin: 3em auto;
	max-width: 75%;
}

/*navigation*/
.nav-principal{
margin:0;
padding: 0;
}
.nav-principal li{
display: inline;
margin: 0;
padding: .5em .8em;
}

p img, img{
max-width:100%;
margin:1em 0;
}


/*LINKs*/
a:link, a:visited{
color: #ccc;
text-decoration: none;
}
a:hover, a:focus, a.focus, a.active{
color: gray;
text-decoration: underline;
}

/*typographie*/

/* TYPE FACE
TypeKit:::
font-family: "good-kitty",cursive;
font-style: normal;
font-weight: 400;
*/

h1, h2{font-family: 'Cinzel', georgia, serif;}

h3, h4{
font-family: "cooper-black-std", arial, sans-serif;
font-weight: 400;
}

p, li{
	font-family:  "adelle", georgia, serif;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 1px;}

p pre, p code, pre, code{ font-family: 'VT323', monospace;}


h1{
	font-size: 20px;
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 1.2em;
	}

h2{
	font-size: 20px;
	font-size: 2rem;
	margin: 1.2em 0 .6em 0;	
}

h3, h4{
font-size: 16px;
font-size: 1.6rem;}

p h5, h5{font-style: italic;}

p h6, h6{
	font-family: "cooper-black-std", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-size: 1.6rem;}

p{line-height: 1.7;}

p, p h5, h5, ol, ul, li{
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: normal;
}
.text{ font-size: small;}

p code, 
p pre, 
pre, 
code { 
white-space: pre-wrap; text-align: left; margin: 1em 0;
font-size: 12px;
font-size: 1.4rem;
}

.form-test, .form-test *, .form-test ul > li 
{
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 1.2rem;
}

.retour-force{
	display: block;
}

/*POST*/
.post-list{
	margin: 1em 0;
}
.post-list > li{
	margin-bottom: 2em;
	border-top: 1px solid #333;
}
.post-meta{
	text-transform: uppercase;
	font-size: small;
	padding: 0 .5em;
}

article footer{
	border: 1px solid #ccc;
	padding: 1em;
	margin-top: 2em;
	background-color: rgb(250, 250, 250);
}

/*fancy icon*/
.icon-github,
.icon-twitter,
.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: 3px;
}

@media screen and (min-width:41em) {
    html{font-size: 85%;}
    
    p, li {line-height: 1.9;}
    
    p code, 
    p pre, 
    pre, 
    code { 
    font-size: 12px;
    font-size: 1.2rem;
    }
    
    .wrapper{
        max-width: 50%;
    }
    }
